header.header-container
  figure.header-container__figure 
    img(src="imgs/portada.jpg", alt="")
  div.header-container__info 
    h5.header-container__type Noticias
    h1.header-container__tittle Cyberpunk 2077 tiene tres prólogos distintos 
    div.autor
      figure.autor__image
        img(src="imgs/foto.jpg", alt="")
      div.autor__dates
        h5 autor
        h4 john wick
