section.section-mas
  h1.section-mas__tittle No te Pierdas...
  div.section-mas__cards 
    +card('img_1.png', 'Conoce las actualizaciones de xbox Game Pass', 'A una semana de haber terminado el E3, Microsoft anunció la 1era rotación de juegos que llega a Xbox')
    +card('img_2.png', 'Fortnite une fuerzas con Stranger Things', 'Portales hacia el Upside Down han aparecido dentro de Fortnite, y aunque no funcionan igual.')
    +card('img_3.png', 'Cuphead se atrasa hasta el año 2020', 'Los miembros de Studio MDHR revelan la razón detrás del atraso de la fecha de lanzamiento.')