//- Con extend llamamos al codigo del archivo general
extend componentes/general.pug
//- aqui indicamos que aqui contia el bloque body
block body
  include componentes/header.pug
  include componentes/main.pug
  include componentes/section-mas.pug